/* Styles for the place order form */ 
.place-order {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
}

/* Styles for the left section of the place order form */
.place-order-left {
    width: 100%;
    max-width: max(30%, 500px);
}

/* Styles for the title in the left section */
.place-order-left .title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}

/* Styles for the input fields in the left section */
.place-order-left input {
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #c5c5c5;
    outline-color: tomato;
}

/* Styles for the multi-field sections in the left section */
.place-order-left .multifields {
    display: flex;
    gap: 10px;
}

/* Styles for the right section of the place order form */
.place-order-right {
    width: 100%;
    max-width: max(40%, 500px);
}

/* Styles for the button in the cart total section */
.place-order .cart-total button {
    margin-top: 30px;
}
