.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    font-size: 16px;
    color: #6d6d6d;
}

.add form{
    gap: 20px;
}

.add-img-upload img{
    width: 120px;
}

.add-product-name, .add-product-description{
    width: max(40%, 280px);
}