.login-popup{
    position: absolute; /* Positioning the popup absolutely */
    z-index: 1; /* Ensuring it appears on top of other elements */
    width: 100%; /* Full width of the screen */
    height: 100%; /* Full height of the screen */
    background-color: #00000090; /* Semi-transparent black background */
    display: grid; /* Using grid layout */
}

.login-popup-container{
    place-self: center; /* Centering the popup */
    width: max(23vw,330px); /* Setting a maximum width for the popup */
    color: #808080; /* Text color */
    background-color: white; /* Background color */
    display: flex; /* Using flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    gap: 25px; /* Spacing between elements */
    padding: 25px 30px; /* Padding around the content */
    border-radius: 8px; /* Rounded corners */
    font-size: 14px; /* Font size */
    animation: fadeIn 0.5s; /* Fade-in animation */
}

.login-popup-title{
    display: flex; /* Using flexbox layout */
    justify-content: space-between; /* Space between elements */
    align-items: center; /* Centering items vertically */
    color: black; /* Title color */
}

.login-popup-title img{
    cursor: pointer; /* Cursor style */
    width: 16px; /* Image width */
}

.login-popup-inputs{
    display: flex; /* Using flexbox layout */
    flex-direction: column; /* Stack elements vertically */
    gap: 20px; /* Spacing between elements */
}

.login-popup-inputs input{
    outline: none; /* Removing outline */
    border: 1px solid #c9c9c9; /* Border style */
    padding: 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
}

.login-popup-container button{
    border: none; /* No border */
    padding: 10px; /* Padding */
    border-radius: 4px; /* Rounded corners */
    color: white; /* Text color */
    background-color: tomato; /* Background color */
    font-size: 15px; /* Font size */
    cursor: pointer; /* Cursor style */
}

.login-popup-condition{
    display: flex; /* Using flexbox layout */
    align-items: start; /* Aligning items at the start */
    gap: 8px; /* Spacing between elements */
    margin-top: -15px; /* Adjusting margin */
}

.login-popup-condition input{
    margin-top: 5px; /* Adjusting margin */
}

.login-popup p span{
    color: tomato; /* Text color */
    font-weight: 500; /* Font weight */
    cursor: pointer; /* Cursor style */
}
