@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Reset styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Outfit;
  scroll-behavior: smooth;
}

/* Body styles */
body {
  min-height: 100vh;
}

/* Link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Main application container */
.app {
  width: 80%;
  margin: auto;
}

/* Animation for fading in elements */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
