/* ExploreMenu styles */

/* ExploreMenu container */
.explore-menu {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Gap between elements */
}

/* ExploreMenu heading */
.explore-menu h1 {
    color: #262626; /* Heading color */
    font-weight: 500; /* Heading font weight */
}

/* ExploreMenu text */
.explore-menu-text {
    max-width: 60%; /* Maximum width of text */
    columns: #808080; /* Text color */
}

/* ExploreMenu list */
.explore-menu-list {
    display: flex;
    justify-content: space-between; /* Space between list items */
    align-items: center;
    gap: 30px; /* Gap between list items */
    text-align: center; /* Center-align text */
    margin: 20px 0px; /* Margin */
    overflow-x: scroll; /* Horizontal scroll for overflow */
}

/* Hide scrollbar */
.explore-menu-list::-webkit-scrollbar {
    display: none;
}

/* ExploreMenu list item image */
.explore-menu-list-item img {
    width: 7.5vw; /* Image width */
    min-width: 80px; /* Minimum image width */
    cursor: pointer; /* Cursor style */
    border-radius: 50%; /* Border radius */
    transition: 0.2s; /* Transition effect */
}

/* ExploreMenu list item text */
.explore-menu-list-item p {
    margin-top: 10px; /* Top margin */
    color: #747474; /* Text color */
    font-size: max(1.4vw, 16px); /* Font size */
    cursor: pointer; /* Cursor style */
}

/* ExploreMenu horizontal rule */
.explore-menu hr {
    margin: 10px 0px; /* Margin */
    height: 2px; /* Height */
    background-color: #e2e2e2; /* Background color */
    border: none; /* No border */
}

/* Active state for ExploreMenu list item */
.explore-menu-list-item .active {
    border: 4px solid tomato; /* Border style */
    padding: 2px; /* Padding */
}

/* Media query for smaller screens */
@media (max-width:1050px) {
    .explore-menu-text {
        max-width: 100%; /* Maximum width of text */
        font-size: 14px; /* Font size */
    }
}
